
.card-item {
  width: 90% ; 
  height: 350px; 
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 30px; 
  position: relative;
  border-radius: 20px; 
  overflow: hidden;
  box-shadow: 0 4px 8px #c15feb;
  transition: transform 0.5s ,box-shadow 0.5s;

}
.card-item:hover {
  transform: scale(1.1); 
  box-shadow: 0 6px 12px #c15feb;
}
.title,
.description {
  font-family: sans-serif; 
}
.card-image {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title,
.description {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  opacity: 0.7;
}

.title {
  top: 7%; 
  text-align: left;
  left: 10px;
  font-size: 1rem;
  font-weight: 200;
}

.description {
  top: 22%; 
  text-align: left;
  left: 10px;
  font-size: 1.5rem;
  font-weight: 500; 

}
.title,
.description {
  display: flex;
  position: absolute; 
  z-index: 10;
  flex-direction: column;
  padding: 10px;
  gap: 0.5rem; 
  backdrop-filter: blur(25px);
  background-color: #c15feb77; 
  border-radius: 1rem;
}