.nav-flexbox{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    box-shadow: 0 2px 9px 0 #00000080;
    position: sticky;
    cursor: pointer;
}
.nav-mid{
    display: flex;
    align-items: center;

}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-mid-cont{
    margin: 0 1vw;
    color: black;
    
}
.nav-mid-cont:hover{
    color: #c15feb;
    transform: scale(1.1);
    
}
.nav-logo{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #c15feb;
    
}
.nav-logo:hover{
    color: #9a09d8;
}
.nav-search{
    margin-right: 2vh;
}
.nav-search-input{
    font-size: 1.25rem;
    color: black;
    border: 1px solid #d7a9eb;
}
.nav-search-input:focus{
    border-color: #c15feb;
}
.search-location{
    margin:0 0 0 5vw;
    padding: 1vh 1.5vh;
    border: 2px solid rgb(37, 220, 77);
    border-radius: 5px 0px 0px 5px;
    font-size: 1.3rem;
}
.search-location:focus{
    outline: none;
}
.sheearns-logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    
  }
  .logout-btn{
    border: none;
    padding: 1.1vh 2vh;
    border-radius: 5px;
    background-color: #9a09d8;
    color: white;
    box-shadow: 3px 3px 3px rgb(55, 55, 55);
  }
.logout-btn:hover{
   
    color: white;
}
.logout-btn:active{
    box-shadow: none;
}